$headerHeight: 50px;
$headerWidth: 960px;

$navHeight: 40px;

$bookCardWidth: 90px;
$bookCardCount: 6;
$homeViewWidth: calc($bookCardWidth * $bookCardCount + 15px * ($bookCardCount - 1) + 15px);

$bookInfoWidth: 450px;
$testIconSize: 70px;
$testIconMargin: 15px;
$testPanelWidth: calc($testIconSize * 4 + $testIconMargin * 3 + (20px * 2));
$bookViewWidth: calc($bookInfoWidth + $testPanelWidth);

:root {
  /* ライトモードの色変数 */
  --text-main: #100D00;
  --text-light: #787878;
  --text-reversal: #fff;
  --text-red: #FF233C;
  --bg-main: #fff;
  --bg-light: #f5f5f5;
}

/* ダークモードの色変数 */
@media (prefers-color-scheme: dark) {
  :root {
    --text-main: #fff;
    --text-light: #D1D1D1;
    --text-reversal: #212121;
    --text-red: #FC6767;
    --bg-main: #212121;
    --bg-light: #3B3B3B;
  }
}